<section>
  <h1>disqus integration the easy way</h1>
  <p>
    This demo shows how easy it is to integrate disqus with your amazing angular application.
    For more information visit the <a href="http://github.com/kirstein/angular-disqus">github site of this plugin.</a>
  </p>
  <p>
  For this pages source code <a href="https://github.com/kirstein/angular-disqus/tree/gh-pages">click here</a>
  </p>

  <h3>Comment count demo:</h3>
  <ul>
    <li>
      <a href="#!/test/1">test page 1</a>
      |
      <a href="#!/test/1#disqus_thread" data-disqus-identifier="1"></a>
    </li>
    <li>
      <a href="#!/test/2">test page 2</a>
      |
      <a href="#!/test/2" data-disqus-identifier="2"></a>
    </li>
    <li>
      <a href="#!/test/3">test page 3</a>
      |
      <a href="#!/test/3" data-disqus-identifier="3"></a>
    </li>
  </ul>

</section>
